.game-res{
    height: 150px;
    min-width: 520px;
}

.game-img{
    width: 100%;
}

.digit-box{
    min-width: 50px;
    width: 5%;
}

#id-max-players{
    float:right;
}

#id-max-time{
    float:right;
}

.container-card {
    width: 90%;
    margin: auto;
}

.game-card {
    background: white;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    padding: 15px;
    text-align: center;
    transition: transform 0.2s ease-in-out;
}

.game-card:hover {
    transform: scale(1.05);
}

.game-title {
    font-size: 1.2rem;
    font-weight: bold;
    text-align: center;
    margin-bottom: 10px;
}

.game-image-container {
    width: 100%;
    height: 120px; /* Ajustable selon les besoins */
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.game-image {
    width: 100%;
    height: auto;
    border-radius: 5px;
}

.game-info {
    text-align: left;
    margin-top: 10px;
}

.game-info p {
    margin: 5px 0;
    font-size: 0.9rem;
}

.game-card-link {
    text-decoration: none; /* Supprime le soulignement */
    color: inherit; /* Garde la couleur par défaut du texte */
}

.game-card-link:hover {
    text-decoration: none;
}

.age-slider-container {
    display: flex;
    align-items: center;
    gap: 10px;
}

#age-slider {
    width: 200px;
    cursor: pointer;
}

.card {
    background-color: #f8f9fa;
    border-radius: 8px;
}