.container {
    max-width: 1000px;
}

.card {
    background-color: #f8f9fa;
    border: none;
}

.card-title {
    font-weight: bold;
    font-size: 1.2rem;
    color: #333;
}

.list-group-item {
    background-color: #f8f9fa;
    border: none;
    padding: 0.75rem 1rem;
}

.list-group-item:not(:last-child) {
    border-bottom: 1px solid #ddd;
}

.btn-primary:hover {
    background-color: #0056b3;
    border-color: #0056b3;
}

.btn-danger:hover {
    background-color: #b02a37;
    border-color: #b02a37;
}
