{% extends 'base.html' %}
{% load static %}
{% block title %}Inscription{% endblock title %}
{% block head %}
<link rel="stylesheet" href="{% static 'CSS/auth.css' %}">
{% endblock head %}
{% block body %}
{% if form.errors %}
{{ form.errors }}
{% endif %}

<div class="background container-fluid p-0">
    <img class="img-bg" src="{% static 'images/authentification/bg.jpg' %}">
    <div class="row background-pics">
    </div>

</div>
<div class="foreground container-fluid">
    <div class="row">
        <div class="d-flex col-lg-5 col-md-6 col-xs-12 align-items-center justify-content-center">
            <div class="form p-3 pt-5 rounded-4">
                <h1 class="mb-3">S'inscrire</h1>
                <form method="post">
                    {% csrf_token %}
                    {{ form.username }}
                    {{ form.password1 }}
                    {{ form.password2 }}
                    <input type="submit" value="Valider" class="btn btn-success">
                </form>
                <div class="link-log-su pt-4">
                    <a href="/login/" class="p-4">Se connecter</a>
                </div>
        </div>
    </div>
</div>
{% endblock body %}