{% load static %}
<!doctype html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1"> 
    {% load django_bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}    
    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/ui/1.14.1/jquery-ui.min.js" integrity="sha256-AlTido85uXPlSyyaZNsjJXeCs07eSv3r43kyCVc8ChI=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui-touch-punch/0.2.3/jquery.ui.touch-punch.min.js"></script>
    <link rel="stylesheet" href="{% static 'CSS/base.css' %}">
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.14.1/themes/black-tie/jquery-ui.css">
    <title>{% block title %}{% endblock title %}</title>
    
    {% block head %}{% endblock head %}
</head>

<body>
    <div class="container-fluid navbar">
        {% if simple_search %}
        <form class="simple_search" method="post" action="{% url 'advanced_search' %}">
            <div class="row">
                <div class="col-10 my-auto">
                    {% csrf_token %}
                    {{ simple_search.game_name }}
                </div>
                <div class="col-2">
                    <button class="button_search btn btn-danger" type="submit">🔎</button>
                </div>
            </div>
        </form>
        {% endif %}
        <div class="dropdown menu-btn">
            <button class="btn btn-danger dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                Menu
            </button>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="{% url 'home' %}">Home</a></li>
                <li><a class="dropdown-item" href="{% url 'advanced_search' %}">Recherche avancée</a></li>
                {% if user.is_authenticated %}
                    {% if user.is_staff %}
                    <li><a class="dropdown-item" href={% url 'add_game' %}>Ajouter un jeu</a></li>
                    <li><a class="dropdown-item" href="/admin/">Admin</a></li>
                    {% endif %}
                    <li><a class="dropdown-item" href={% url 'logout' %}>Se déconnecter</a></li>
                {% else %}
                    <li><a class="dropdown-item" href="{% url 'login' %}">Se connecter</a></li>
                    <li><a class="dropdown-item" href="{% url 'signup' %}">S'inscrire</a></li>
                {% endif %}
            </ul>
        </div>
    </div>

    {% block body %}{% endblock body %}
</body>


</html>
