{% extends 'base.html' %}
{% load static %}
{% block title %}
Recherche avancée
{% endblock title %}
{% block head %}
<link rel="stylesheet" href="{% static 'CSS/advanced.css' %}">
<script src="{% static 'JS/advanced.js' %}"></script>
{% endblock head %}

{% block body %}
<h1>Recherche avancée</h1>
<form method="post">
    {% csrf_token %}
    <div class="container-xxl m-4 user-input">
        <div class="my-2">
            <label for="id-game-name">Nom du jeu :</label><br>
        </div>
        <input type="text" class="form-control" id="id-game-name" name="game-name" maxlength="200">
    </div>
    <div class="container-xxl m-4 user-input">
        <div class="my-2">
            <label for="players-slider">Nombre de joueurs :</label><br>
        </div>
        <div id="players-slider" class="slider-range"></div>
        <input type="text" class="digit-box m-2" id="id-min-players" name="min_players" readonly>
        <input type="text" class="digit-box m-2" id="id-max-players" name="max_players" readonly>
    </div>
    <div class="container-xxl m-4 user-input">
        <div class="my-2">
            <label for="id-min-age">Âge minimum :</label><br>
        </div>
        <input type="number" class="form-control" id="id-min-age" name="min-age">
    </div>
    <div class="container-xxl m-4 user-input">
        <div class="my-2">
            <label for="time-slider">Durée :</label><br>
        </div>
        <div id="time-slider" class="slider-range"></div>
        <input type="text" class="digit-box m-2" id="id-min-time" name="game_length_min" readonly>
        <input type="text" class="digit-box m-2" id="id-max-time" name="game_length_max" readonly>
    </div>
    <div class="container-xxl m-4 user-input">
        <div class="my-2">
            <label for="id-tag">Tag :</label><br>
        </div>
        <input type="text" id="id-tag" name="tag" maxlength="200">
    </div>
    <button type="submit">Rechercher</button>
</form>

{% if games %}
    <h2>Résultats de la recherche</h2>
    <ul>
        {% for game, tags in games.items %}
            <div class="container game-res border rounded m-4 p-2">
            <div class="row game-row h-100">
                <div class="col-xs-6 col-2 d-flex align-items-center h-100 ">
                    <a href="../game/{{game.game_id}}">
                        <img class="game-img " src="{% static 'images/board_games/default.jpg' %}">
                    </a>
                </div>
                <div class="col-xs-6 col-10">
                    <div class="row">
                        <div class="col-12 d-flex justify-content-center">
                            <h4 class="game-name"> {{ game.game_name }} </h4>
                        </div>
                    </div>
                    <div class="row h-100">
                        <div class="col-3 d-flex p-3 justify-content-center">
                            <p> Joueurs : <br> de {{ game.min_players }} à {{ game.max_players }} </p>
                        </div>
                        <div class="col-3 d-flex p-3 justify-content-center">
                            <p> Durée : <br> {{game.game_length_min}}m</p>
                        </div>
                        <div class="col-3 d-flex p-3 ">
                            <p> Tag : <br> {{ tags }} </p>
                        </div>
                        <div class="col-3 d-flex p-3 justify-content-center">
                            <p> Difficulté : <br> ez </p>
                        </div>
                    </div>
                </div>
            </div>
            </div>
        {% endfor %}
        {% for tag in tags %}
        <p> {{tag}} </p>
        {% endfor %}
    </ul>
{% endif %}
{% endblock body %}