{% extends 'base.html' %}
{% load static %}
{% block title %}
Recherche avancée
{% endblock title %}
{% block head %}
<link rel="stylesheet" href="{% static 'CSS/advanced.css' %}">
<script src="{% static 'JS/advanced.js' %}"></script>
{% endblock head %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="mx-auto col-12 col-md-10">
            <h1 class="text-center mt-3">Recherche avancée</h1>
            <form method="post">
                {% csrf_token %}
                <div class="container-xxl my-4 user-input">
                    <div class="my-2">
                        <label for="id-game-name">Nom du jeu :</label><br>
                    </div>
                    <input type="text" class="form-control" id="id-game-name" name="game-name" maxlength="200">
                </div>
                <div class="container-xxl my-4 user-input">
                    <div class="my-2">
                        <label for="players-slider">Nombre de joueurs :</label><br>
                    </div>
                    <div id="players-slider" class="slider-range"></div>
                    <input type="text" class="digit-box m-2" id="id-min-players" name="min_players" readonly>
                    <input type="text" class="digit-box m-2" id="id-max-players" name="max_players" readonly>
                </div>
                <div class="container-xxl my-4 user-input">
                    <div class="my-2">
                        <label for="id-min-age">Âge minimum :</label><br>
                    </div>
                    <input type="number" class="form-control" id="id-min-age" name="min-age">
                </div>
                <div class="container-xxl my-4 user-input">
                    <div class="my-2">
                        <label for="time-slider">Durée (min) :</label><br>
                    </div>
                    <div id="time-slider" class="slider-range"></div>
                    <input type="text" class="digit-box m-2" id="id-min-time" name="game_length_min" readonly>
                    <input type="text" class="digit-box m-2" id="id-max-time" name="game_length_max" readonly>
                </div>
                <div class="container-xxl my-4 user-input">
                    <div class="my-2">
                        <label> Tags :</label><br>
                        <input type="text" id="tag-search" class="form-control my-3" placeholder="Chercher un tag...">
                    </div>
                    <div id="tag-buttons">
                        {% for tag_id in tags_id %}
                        <button type="button" class="tag-btn btn btn-outline-primary m-1 {% if forloop.counter > 5 %}hidden-tag{% endif %}" 
                                data-tag="{{ tag_id }}">
                            {{ tag_id }}
                        </button>
                        {% endfor %}
                    </div>
                    <button type="button" id="show-more-tags" class="btn btn-secondary mt-2">Afficher plus</button>
                    <button type="button" id="show-less-tags" class="btn btn-secondary mt-2" style="display: none;">Voir moins</button>
                    <!-- Champ caché pour stocker les tags sélectionnés -->
                    <input type="hidden" id="id-tags" name="tags">
                </div>    
                <div class="container-xxl my-4 user-input">
                    <button type="submit" class="btn btn-dangery">Rechercher</button>
                </div>
            </form>
        </div>
    </div>
</div>

{% if games %}
    <h2 class="text-center">Résultats de la recherche</h2>
    <div class="container-card">
        <div class="row">
            {% for game, tags in games.items %}
            <div class="col-md-4 col-12 mb-4">
                <a href="../game/{{game.game_id}}" class="game-card-link">
                <div class="game-card">
                    <h4 class="game-title">{{ game.game_name }}</h4>
                    <div class="game-image-container">
                        <img class="game-image" src="{% static 'images/board_games/default.jpg' %}" alt="{{ game.game_name }}">
                    </div>
                    <div class="game-info">
                        <p><strong>Joueurs :</strong> de {{ game.min_players }} à {{ game.max_players }}</p>
                        <p><strong>Durée :</strong> {{ game.game_length_min }}m</p>
                        <p><strong>Tags :</strong> {{ tags }}</p>
                        <p><strong>Difficulté :</strong> ez</p>
                    </div>
                </div>
                </a>
            </div>
            {% endfor %}
        </div>
    </div>
    {% endif %}
{% endblock body %}