{% extends 'base.html' %}
{% load static %}
{% load custom_filters %}
{% block title %}
{{ game.game_name }}
{% endblock title %}

{% block body %}
<h1>{{ game.game_name }}</h1>

{{ message }}

<h2>Description</h2>
<ul>
    <li>Note moyenne : {{ game.rating }}</li>
    <li>Nombre de joueurs : {{ game.min_players }} à {{ game.max_players }}</li>
    <li>Difficulté : {{ game.difficulty }}</li>
    <li>Âge minimum : {{ game.min_age }} ans</li>
    
    {% if game.game_length_min != game.game_length_max %}
        <li>Durée moyenne : entre {{ game.game_length_min }} et {{ game.game_length_max }} minutes</li>
    {% else %}
        <li>Durée moyenne : {{ game.game_length_min }} minutes</li>
    {% endif %}
</ul>

<h2>Noter le jeu</h2>
<form method="post" action="{% url 'rate_game' game.game_id %}">
    {% csrf_token %}
    {{ form.rating.label_tag }}
    {{ form.rating }}
    <button type="submit">Noter</button>
</form>

<h2>Ajouter une partie</h2>
<form method="post">
    {% csrf_token %}
    <label for="num_players">Nombre de joueurs :</label>
    <select id="num_players" name="num_players" required>
        {% with game.max_players|add:1 as max_players_plus_one %}
            {% for i in game.min_players|add:0|get_range:max_players_plus_one %}
                <option value="{{ i }}">{{ i }}</option>
            {% endfor %}
        {% endwith %}
    </select>
    <div id="players">
        <label for="player_1">Joueur 1 :</label>
        <select name="player_1" id="player_1" required>
            <option value="{{ request.user.id }}">{{ request.user.username }}</option>
        </select>
    </div>
    <button type="submit">Ajouter</button>
</form>

<script>
    function updatePlayers(numPlayers) {
        var playersDiv = document.getElementById('players');
        playersDiv.innerHTML = '';

        // Add the first player as the request.user
        var label = document.createElement('label');
        label.setAttribute('for', 'player_1');
        label.textContent = 'Joueur 1 :';
        playersDiv.appendChild(label);

        var select = document.createElement('select');
        select.setAttribute('name', 'player_1');
        select.setAttribute('id', 'player_1');
        select.setAttribute('required', 'required');
        var option = document.createElement('option');
        option.setAttribute('value', '{{ request.user.id }}');
        option.textContent = '{{ request.user.username }}';
        select.appendChild(option);
        playersDiv.appendChild(select);

        // Add the remaining players as guests
        for (var i = 2; i <= numPlayers; i++) {
            var label = document.createElement('label');
            label.setAttribute('for', 'player_' + i);
            label.textContent = 'Joueur ' + i + ' :';
            playersDiv.appendChild(label);

            var select = document.createElement('select');
            select.setAttribute('name', 'player_' + i);
            select.setAttribute('id', 'player_' + i);
            select.setAttribute('onchange', 'disableSelectedOptions()');

            var guestOption = document.createElement('option');
            guestOption.setAttribute('value', 'guest_' + i);
            guestOption.textContent = 'Invité ' + i;
            select.appendChild(guestOption);

            {% for user in users %}
                var option = document.createElement('option');
                option.setAttribute('value', '{{ user.id }}');
                option.textContent = '{{ user.username }}';
                select.appendChild(option);
            {% endfor %}
            playersDiv.appendChild(select);
        }
    }

    function disableSelectedOptions() {
        var selects = document.querySelectorAll('#players select');
        var selectedValues = Array.from(selects).map(select => select.value);

        selects.forEach(select => {
            Array.from(select.options).forEach(option => {
                if (selectedValues.includes(option.value) && option.value !== select.value) {
                    option.disabled = true;
                } else {
                    option.disabled = false;
                }
            });
        });
    }

    document.getElementById('num_players').addEventListener('change', function() {
        updatePlayers(this.value);
        disableSelectedOptions();
    });

    // Execute the script on page load to set the initial number of players
    document.addEventListener('DOMContentLoaded', function() {
        updatePlayers(document.getElementById('num_players').value);
        disableSelectedOptions();
    });
</script>


{% endblock body %}