{% extends 'base.html' %}
{% load static %}
{% block title %}
Profil
{% endblock title %}

{% block body %}
<h1>Profil de {{ user.username }}</h1>

<h3>Informations personnelles</h3>

Profil créé le {{ user.date_joined|date:"d/m/Y" }}<br>
Dernière connexion le {{ user.last_login|date:"d/m/Y H:i" }}<br>

<a href={% url 'reset_password' %}>Changer le mot de passe</a>
<a href={% url 'delete_account' %} style="color: red;">Supprimer le compte</a>


<h3>Statistiques du joueur</h3>

<ul>
    <li>Nombre de parties jouées : {{ user.nb_games_played }}
    <li>Nombre de jeux joués: {{ user.nb_games_played_unique }}
    <li>Nombre de jeux notés : {{ user.nb_games_rated }}
    {% if user.nb_games_rated > 0 %}
    <li>Moyenne des notes données : {{ user.avg_rating }}/10
    {% endif %}
</ul>

{% endblock body %}