{% extends 'base.html' %}
{% load static %}
{% block title %}
Statistiques
{% endblock title %}

{% block body %}
<h1>Statistiques</h1>
<div id="stats-chart-container">
    <canvas id="games-played-chart-1"></canvas>
    <canvas id="games-played-chart-2"></canvas>
</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<style>
    #stats-chart-container {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    canvas {
        max-width: 45%;
        height: auto;
    }
</style>

<script>
    function createChart(ctxId, chartType, labels, data, label, borderColor, backgroundColor, xTitle, yTitle) {
        const ctx = document.getElementById(ctxId).getContext('2d');
        return new Chart(ctx, {
            type: chartType,
            data: {
                labels: labels,
                datasets: [{
                    label: label,
                    data: data,
                    borderColor: borderColor,
                    backgroundColor: backgroundColor,
                    borderWidth: 2,
                    tension: 0.3
                }]
            },
            options: {
                responsive: true,
                plugins: {
                    legend: {
                        display: true,
                        position: 'top'
                    }
                },
                scales: {
                    x: {
                        title: {
                            display: true,
                            text: xTitle
                        }
                    },
                    y: {
                        title: {
                            display: true,
                            text: yTitle
                        },
                        beginAtZero: true
                    }
                }
            }
        });
    }

    const labels_user = {{ user_data.labels|safe }};
    const data_user = {{ user_data.data|safe }};
    const labels_game = {{ games_plays_data.labels|safe }};
    const data_game = {{ games_plays_data.data|safe }};
    createChart('games-played-chart-1', 'line', labels_user, data_user, 'Nombre de joueurs', 'rgba(54, 162, 235, 1)', 'rgba(54, 162, 235, 0.2)', 'Date', 'Nombre de joueurs');
    createChart('games-played-chart-2', 'line', labels_game, data_game, 'Nombre de parties', 'rgba(54, 162, 235, 1)', 'rgba(54, 162, 235, 0.2)', 'Date', 'Nombre de parties');
</script>

{% endblock body %}